<ActionBar
  title="{{ 'Obninsk weather tower' | L }}  {{ mainTemperature }}"
  [class]="themeService.isDarkTheme ? 'dark-theme-background' : 'light-theme-background'"
  height="115"
>
  <AbsoluteLayout>
    <label
      text="{{ mainTemperature }}"
      class="h1"
      left="0"
      top="28"
      width="100%"
    ></label>
    <label
      text="{{ 'Obninsk weather tower' | L }}"
      class="h2"
      left="0"
      top="0"
      width="100%"
    ></label>
  </AbsoluteLayout>
  <ActionItem
    icon="{{ themeService.isDarkTheme ? 'font://&#xf186;' : 'font://&#xf185;' }}"
    class="fa-solid"
    [class.light-theme-icon]="!themeService.isDarkTheme"
    [class.dark-theme-icon]="themeService.isDarkTheme"
    android.position="actionBar"
    ios.position="right"
    (tap)="themeService.toggleTheme()"
  ></ActionItem>
</ActionBar>
<!--<ActivityIndicator [busy]="isLoading"></ActivityIndicator>-->
<PullToRefresh
  (refresh)="loadData($event)"
  class="m-x-15"
  [class.light-background]="!themeService.isDarkTheme"
  [class.dark-background]="themeService.isDarkTheme"
>
  <StackLayout>
    <label text="{{ '10-minutes average' | L }}" class="h3 m-t-15"></label>

    <app-loading-label [isLoading]="isLoading"></app-loading-label>
    <label
      [hidden]="isLoading"
      [text]="(date && time)
        ? (('Date' | L) + ' ' + date + ', ' + ('time' | L) + ' ' + time)
        : ('Couldn\'t load the data' | L)
      "
    ></label>

    <GridLayout rows="auto" columns="*, *, *, *, *" class="m-t-5">
      <label
        text="{{ 'Height' | L }}"
        row="0"
        col="0"
        textWrap="true"
        textAlignment="center"
        appAndroidCenter
        class="m-r-2"
        [class.c-bg-grey]="!themeService.isDarkTheme"
        [class.dark-background-b]="themeService.isDarkTheme"
      ></label>
      <label
        text="{{ 'Wind speed' | L }}"
        row="0"
        col="1"
        textWrap="true"
        textAlignment="center"
        appAndroidCenter
        class="m-r-2"
        [class.c-bg-grey]="!themeService.isDarkTheme"
        [class.dark-background-b]="themeService.isDarkTheme"
      ></label>
      <label
        text="{{ 'Wind direction' | L }}"
        row="0"
        col="2"
        textWrap="true"
        textAlignment="center"
        appAndroidCenter
        class="m-r-2"
        [class.c-bg-grey]="!themeService.isDarkTheme"
        [class.dark-background-b]="themeService.isDarkTheme"
      ></label>
      <label
        text="{{ 'Temperature' | L }}"
        row="0"
        col="3"
        textWrap="true"
        textAlignment="center"
        appAndroidCenter
        class="m-r-2"
        [class.c-bg-grey]="!themeService.isDarkTheme"
        [class.dark-background-b]="themeService.isDarkTheme"
      ></label>
      <label
        text="{{ 'Relative humidity' | L }}"
        row="0"
        col="4"
        textWrap="true"
        textAlignment="center"
        appAndroidCenter
        [class.c-bg-grey]="!themeService.isDarkTheme"
        [class.dark-background-b]="themeService.isDarkTheme"
      ></label>
    </GridLayout>

    <app-loading-label
      [isLoading]="isLoading"
      [height]="rowHeight"
      width="100%"
      textAlignment="center"
    ></app-loading-label>

    <label
      [hidden]="isLoading || sensorsData.length"
      text="{{ 'Couldn\'t load the data' | L }}"
      [height]="rowHeight"
      width="100%"
      textAlignment="center"
      appAndroidCenter
    ></label>
    <ScrollView height="100%">
      <GridLayout [rows]="rowsHeight" columns="*, *, *, *, *">
        <ng-container *ngFor="let row of sensorsData; let rowIndex = index;">
          <label
            *ngFor="let col of row; let colIndex = index; let lastCol = last;"
            [text]="col ? (col + ' ' + measurementUnits[colIndex]) : '-'"
            [row]="rowIndex"
            [col]="colIndex"
            textAlignment="center"
            appAndroidCenter
            [class.c-bg-grey]="rowIndex % 2 !== 0 && !themeService.isDarkTheme"
            [class.dark-background-b]="rowIndex % 2 !== 0 && themeService.isDarkTheme"
            [class.m-r-2]="!lastCol"
          ></label>
        </ng-container>
      </GridLayout>
    </ScrollView>
  </StackLayout >
</PullToRefresh>
